/* FORMATAÇÃO BARRA DE NAVEGAÇÃO VERTICAL*/
body nav {
    margin-top: 15px;
    margin-right: 30px;
    
}

/*FORMATAÇÃO LOGO CABEÇALHO*/
header .logo {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 70px;
    color: white;
    
}

header {
    padding: 10px;
    box-sizing: border-box;
}

/*FORMATAÇÃO CABECALHO*/
body .cabecalho {
    background: #950000;
}

/*FORMATAÇÃO LINKS */

nav ul a {
    color: white;
}

/*FORMATAÇÃO HOVER BARRA DE NAVEGAÇÃO HR*/
nav ul a:hover{
    background: white;
    color: black;
    border-radius: 25px;
}

footer .rodape a {
    text-decoration: none;
    color: #F3F3F3;
}
 
footer .rodape a:hover {/* HOVER INSTITUCIONAL*/
    background: white;
    color: black;
    padding: 4px;

}

footer div .rodape { /* FORMATAÇÃO TEXTO APOIO*/
    color: #F3F3F3;
}

footer div .rodape ul li:hover {
    background: white;
    color: black;
    display: inline;
    padding: 4px;
    margin: 2px;
}

footer .social {
    padding: 5px;
    margin: 2px;
}

footer h3 {
    color: #9C0000;
}

