/* FORMATAÇÃO BARRA DE NAVEGAÇÃO VERTICAL*/
body nav {
    margin-top: 15px;
    margin-right: 30px;
    
}

/*FORMATAÇÃO LOGO CABEÇALHO*/
header .logo {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 70px;
    color: white;
    
}

header {
    padding: 10px;
    box-sizing: border-box;
}

/*FORMATAÇÃO CABECALHO*/
body .cabecalho {
    background: #950000;
}

/*FORMATAÇÃO LINKS */

nav ul a {
    color: white;
}

/*FORMATAÇÃO RODAPE*/
footer .rodape a {
    text-decoration: none;
    color: white;
}

footer .social {
    padding: 5px;
    margin: 2px;
}

footer h3 {
    color: #E2E2E2;
}